.alert-box {
  display:none;
  background-color:red;
  border: 1px solid #ccc;
  
}

.customerFilter{
    padding-top:20px;
}

.app-tech {
	padding: 20px;
	margin-left: 480px;


}

.red {
	color: red;
}

