<div class="cotain-to-grid">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">My Site</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
   
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Log Out</a></li>
     
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      
    </ul>
  </section>
</nav>
</div><!-- end contain to grid -->
<div class="row">
	<div class="large-6 columns">
		<h1>{{title}}</h1>

	</div>
</div>
<div class="row">
	<div class="large-6 columns customerFilter">
		<input type="text" placeholder="Filter Customers" ng-model="name" />

	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<table ng-controller="CustomerController" width="100%" class="twelve">
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>City</th>
			</tr>
		</thead>
		<tbody ng-repeat="customer in customers | orderBy: 'name' | filter: name">
			<tr>
				<td>{{customer.name}}</td>
				<td>{{customer.address}}</td>
				<td>{{customer.city}}</td>
			</tr>
			
		</tbody>
			
		</table>
		
	</div>
</div>
