<div id="login" class="row">
	<div clas="large-6 large-offset-3">
		<h1 class="text-center">Customer Keeper</h1>
		<form ng-submit="login()">
			<fieldset class="radius">
				<div data-alert class="alert-box">
				 	Sorry, this login is invalid
					<a href="#" class="close">&times;</a>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<input type="text" name="username" placeholder="Enter Username" ng-model="creds.username" required>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<input type="password" name="password" placeholder="Enter Password " ng-model="creds.password" required>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<button type="submit" class="button large expand radius">Log In </button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
